<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.bbsMapper">
	
	<select id="selectBbs" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	    SELECT 
   			bc.bbsCategoryNo
   			, bc.bbsCategoryName
	    	, bi.bbsNo
	    	, bi.userId
	    	, bi.bbsTitle
	    	, bi.bbsContents
	    	, bi.isRepresentaion
	    	, bi.views
	    	, DATE_FORMAT(bi.insertTs, '%Y-%m-%d %H:%i:%S') as insertTs
	    	, DATE_FORMAT(bi.updateTs, '%Y-%m-%d %H:%i:%S') as updateTs
	    FROM
	    	bbsInfo bi
	    LEFT JOIN
	    	bbsCategory bc
	    ON	bi.bbsCategoryNo= bc.bbsCategoryNo
	    AND	bc.isDeleted = 'F'
	    WHERE
	    	bi.bbsNo = #{bbsNo}
	    AND	bi.isDeleted = 'F'
	</select>
	
</mapper>