<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="mapper.bbsMapper">
	
	<select id="selectBbsList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	    SELECT * FROM bbs
	</select>
	
	<select id="selectBbs" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	    SELECT * FROM bbs WHERE bbsNo = #{bbsNo}
	</select>
	
	<update id="updateBbs" parameterType="java.util.HashMap">
	    UPDATE bbs SET views = views+1 WHERE bbsNo = #{bbsNo}
	</update>
	
</mapper>